
section {
    background-color: #ffe2e2;
    background-repeat: repeat;
    background-size: 100% 100%; 
}


header {
    background: #d6e0f0;
    padding: 10px;
    
}

pre{
    size: 100px;
    color: blue;
    margin-left: 50px;
    margin-right: 50px;
    font-style: oblique;
    font-family: sans-serif;
 
}

h2{
    margin-left: 50px;
    margin-right: 50px;
}

p{
    padding-left: 50px;
}

nav {
    background: #d6e0f0;
    padding: 20px;

}

#menu {
    padding-left: 250px;
    display: inline-flexbox;
}

h1 {
    color: #0f4c75;
    font-size: 50px;
    margin-left: 100px;
}

table,
th,
td {
    color: #0f4c75;
    border: 1px solid black;
    margin: 50px;
}

video {
    width: 620px;
    height: 440px;
    padding: 50px;
}

footer {
    background: #d6e0f0;
    padding: 20px;
    margin: 50px;
}